@{
    ViewBag.Title = "Detail";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script>var id = @ViewBag.Id;</script>
    <script src="~/Scripts/Client/Project/projectDetail.js"></script>
}

<div id="projectDetail"></div>

<script id="projectDetailTemplate" type="x-tmpl-mustache">
    <div class="bg-primary p-3">
        <h2 class="text-white text-center">{{Name}}</h2>
        <p class="text-white text-center">Trang chủ / Đề tài / {{Name}}</p>
    </div>

    <div class="card project-card lead">
        <div>
            <div class="project-content">
                <div class="project-content-header">
                    <span class="text-primary">Thông tin đề tài</span>
                </div>
                <small>
                    Loại đề tài: {{Type}}<br />
                    Sinh viên thực hiện: {{StudentName}}<br />
                    Giảng viên hướng dẫn: {{LecturerName}}<br />
                </small>
            </div>

            <div class="project-content">
                <div class="project-content-header">
                    <span class="text-primary">Thời gian</span>
                </div>
                <small>
                    Ngày tạo: {{CreatedDate}}<br />
                    Thời gian bắt đầu: {{StartDate}}<br />
                    Thời gian kết thúc: {{EndDate}}<br />
                </small>
            </div>

            <div class="project-content">
                <div class="project-content-header d-flex justify-content-between">
                    <span class="text-primary">Hội đồng</span>
                    {{{AssemblyView}}}
                </div>
                <small>
                    {{{AssemblyName}}}
                    {{{AssemblyCreatedDate}}}
                </small>
            </div>

            <div class="project-content">
                <div class="project-content-header d-flex justify-content-between">
                    <span class="text-primary">Bài nộp</span>
                    <button class="ml-auto button-update btn btn-primary btn-circle btn-sm" title="Xem bài nộp" data-id="36">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
                <small>
                    Trạng thái: {{SubmissionStatus}}<br />
                    {{{SubmissionDate}}}
                    {{Point}}
                </small>
            </div>

            <div>
                <button id="btnUpdateProject" data-id="{{Id}}" class="mb-2 btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-edit"></i>
                    </span>
                    <span class="text">Cập nhật thông tin đề tài</span>
                </button>
                <button id="btnDeleteProject" data-id="{{Id}}" class="mb-2 btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-trash"></i>
                    </span>
                    <span class="text">Xóa đề tài</span>
                </button>
            </div>
        </div>

        <div id="projectStage"></div>

        <div class="project-tool">
            <button id="btnAddProjectStage" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Thêm mới giai đoạn</span>
            </button>
        </div>
    </div>
</script>

<script id="projectStageTemplate" type="x-tmpl-mustache">
    <div class="project-stage">
        <div class="project-stage-header">
            <span class="text-primary">{{Name}}</span>
        </div>
        <div class="project-stage-content">
            <div class="project-stage-content-header">
                <span class="text-primary">1. Thời gian</span>
            </div>
            <small>
                Thời gian bắt đầu: {{StartDate}}<br />
                Thời gian kết thúc: {{EndDate}}<br />
            </small>
        </div>
        <div class="project-stage-content">
            <div class="project-stage-content-header d-flex justify-content-between">
                <span class="text-primary">1. Mục đích</span>
            </div>
            <small>
                {{{Intent}}}
            </small>
        </div>
        <div class="project-stage-content">
            <div class="project-stage-content-header">
                <span class="text-primary">3. Yêu cầu</span>
            </div>
            <small>{{{Request}}}</small>
        </div>
        <div class="project-stage-content">
            <div class="project-stage-content-header d-flex justify-content-between">
                <span class="text-primary">4. Bài nộp</span>
                <button class="ml-auto button-update btn btn-primary btn-circle btn-sm" title="Xem bài nộp" data-id="36">
                    <i class="fas fa-eye"></i>
                </button>
            </div>
            <small>
                Trạng thái: {{SubmissionStatus}}<br />
                {{{SubmissionDate}}}
            </small>
        </div>

        <div>
            <button data-id="{{Id}}" class="button-update-project-stage mb-2 btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-edit"></i>
                </span>
                <span class="text">Cập nhật thông tin giai đoạn</span>
            </button>
            <button data-id="{{Id}}" class="button-delete-project-stage mb-2 btn btn-danger btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-trash"></i>
                </span>
                <span class="text">Xóa giai đoạn</span>
            </button>
        </div>
    </div>
</script>

<!-- Assembly View Modal -->
<div class="modal fade" id="modalViewAssembly" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thành Viên Hội Đồng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4 pb-2">
                <table class="table table-bordered">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th>Mã giảng viên</th>
                            <th>Tên giảng viên</th>
                            <th>Nhận xét</th>
                            <th>Điểm</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CNTT001</td>
                            <td>Võ Quốc Lương</td>
                            <td>Chưa có</td>
                            <td>Chưa chấm</td>
                        </tr>
                        <tr>
                            <td>CNTT001</td>
                            <td>Võ Quốc Lương</td>
                            <td>Chưa có</td>
                            <td>Chưa chấm</td>
                        </tr>
                        <tr>
                            <td>CNTT001</td>
                            <td>Võ Quốc Lương</td>
                            <td>Chưa có</td>
                            <td>Chưa chấm</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Update Project Modal -->
<div class="modal fade" id="modalUpdateProject" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cập Nhật Thông Tin Đề Tài</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmUpdateProject">
                    <div class="mb-3">
                        <label class="form-label" for="txtProjectName">Tên đề tài</label>
                        <input class="form-control" id="txtProjectName" name="txtProjectName" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Loại đồ án</label>
                        <select class="form-control" id="slProjectTypeId" name="slTypeId">
                            <option value="">-- Chọn loại đề tài --</option>
                            <option value="1">Đồ án tốt nghiệp</option>
                            <option value="2">Khóa luận tốt nghiệp</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mã sinh viên</label>
                        <input class="form-control valid" id="txtStudentId" name="txtStudentId" />
                        <label id="txtStudentName" name="txtStudentName" class="valid">Không tìm thấy sinh viên</label>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <label class="form-label">Ngày bắt đầu</label>
                                <input id="dtProjectStartDate" name="dtProjectStartDate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            </div>
                            <div class="col">
                                <label class="form-label">Giờ </label>
                                <select id="slProjectStartHour" name="slProjectStartHour" class="form-control">
                                    @for (int i = 0; i <= 24; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                            <div class="col">
                                <label class="form-label">Phút </label>
                                <select id="slProjectStartMinute" name="slProjectStartMinute" class="form-control">
                                    @for (int i = 0; i <= 60; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <label class="form-label">Ngày kết thúc</label>
                                <input id="dtProjectEndDate" name="dtProjectEndDate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            </div>
                            <div class="col">
                                <label class="form-label">Giờ </label>
                                <select id="slProjectEndHour" name="slProjectEndHour" class="form-control">
                                    @for (int i = 0; i <= 24; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                            <div class="col">
                                <label class="form-label">Phút </label>
                                <select id="slProjectEndMinute" name="slProjectEndMinute" class="form-control">
                                    @for (int i = 0; i <= 60; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Hủy</button>
                <button id="btnSaveProject" type="button" class="btn btn-primary"><i class="fas fa-check"></i> Hoàn thành</button>
            </div>
        </div>
    </div>
</div>

<!-- Update Project Stage Model -->
<div class="modal fade" id="modalUpdateProjectStage" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalUpdateProjectStageTitle">Thêm Mới Giai Đoạn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmUpdateProjectStage">
                    <input id="nbrProjectStageId" type="number" hidden />
                    <div class="mb-3">
                        <label class="form-label">Tên giai đoạn</label>
                        <input class="form-control" id="txtProjectStageName" />
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <label class="form-label">Ngày bắt đầu</label>
                                <input id="dtProjectStageStartDate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            </div>
                            <div class="col">
                                <label class="form-label">Giờ </label>
                                <select id="slProjectStageStartHour" class="form-control">
                                    @for (int i = 0; i < 24; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                            <div class="col">
                                <label class="form-label">Phút </label>
                                <select id="slProjectStageStartMinute" class="form-control">
                                    @for (int i = 0; i < 60; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <label class="form-label">Ngày kết thúc</label>
                                <input id="dtProjectStageEndDate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            </div>
                            <div class="col">
                                <label class="form-label">Giờ </label>
                                <select id="slProjectStageEndHour" class="form-control">
                                    @for (int i = 0; i < 24; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                            <div class="col">
                                <label class="form-label">Phút </label>
                                <select id="slProjectStageEndMinute" class="form-control">
                                    @for (int i = 0; i < 60; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mục đích</label>
                        <input class="form-control" id="txtIntent" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Yêu cầu</label>
                        <input class="form-control" id="txtRequest" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Hủy</button>
                <button id="btnSaveProjectStage" type="button" class="btn btn-primary"><i class="fas fa-check"></i> Hoàn thành</button>
            </div>
        </div>
    </div>
</div>
