@model Model.EF.Project
@{
    ViewBag.Title = "Detail";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script>
        $('#btnUpdateProject').off('click').on('click', function () {
            $('#modalUpdateProject').modal('show');
        });

        $('.button-update-project-stage').off('click').on('click', function () {
            $('#modalUpdateProjectStage').modal('show');
        });

        $('#btnAddProjectStage').off('click').on('click', function () {
            $('#modalUpdateProjectStage').modal('show');
        });
    </script>

}

<div class="bg-primary p-3">
    <h2 class="text-white text-center">@Model.Name</h2>
    <p class="text-white text-center">Trang chủ / Đề tài / @Model.Name</p>
</div>

<div class="container-fluid">
    <div class="card project-card lead">
        <div>
            <div class="project-content">
                <div class="project-content-header">
                    <span class="text-primary">Thông tin đề tài</span>
                </div>
                <small>
                    Loại đề tài: @Model.Type<br />
                    Sinh viên thực hiện: @Model.Student<br />
                    Giảng viên hướng dẫn: @Model.Lecturer<br />
                </small>
            </div>

            <div class="project-content">
                <div class="project-content-header">
                    <span class="text-primary">Thời gian</span>
                </div>
                <small>
                    Ngày tạo: @Model.CreatedDate <br />
                    Thời gian bắt đầu: @Model.StartDate <br />
                    Thời gian kết thúc: @Model.EndDate <br />
                </small>
            </div>


            <div class="project-content">
                <div class="project-content-header d-flex justify-content-between">
                    <span class="text-primary">Bài nộp</span>
                    <button class="ml-auto button-update btn btn-primary btn-circle btn-sm" title="Xem bài nộp" data-id="36">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
                @if (Model.Submission != null)
                {
                    <small>
                        Trạng thái: Đã nộp<br />
                        Thời gian nộp: @Model.SubmissionDate<br />
                        Điểm: Chưa chấm
                    </small>
                }
                else
                {
                    <small>Chưa nộp</small>
                }
            </div>

            <div>
                <button id="btnUpdateProject" class="mb-2 btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-edit"></i>
                    </span>
                    <span class="text">Cập nhật thông tin đề tài</span>
                </button>
                <button id="btnDeleteProject" class="mb-2 btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-trash"></i>
                    </span>
                    <span class="text">Xóa đề tài</span>
                </button>
            </div>
        </div>

        <div class="project-stage">
            <div class="project-stage-header">
                <span class="text-primary">Chương 1: Phân tích dự án</span>
            </div>
            <div class="project-stage-content">
                <div class="project-stage-content-header">
                    <span class="text-primary">1. Thời gian</span>
                </div>
                <small>
                    Thời gian bắt đầu: 1/1/2020<br />
                    Thời gian kết thúc: 8/1/2020<br />
                </small>
            </div>
            <div class="project-stage-content">
                <div class="project-stage-content-header d-flex justify-content-between">
                    <span class="text-primary">1. Mục đích</span>
                </div>
                <small>
                    Mục đích thực hiện?
                </small>
            </div>
            <div class="project-stage-content">
                <div class="project-stage-content-header">
                    <span class="text-primary">3. Yêu cầu</span>
                </div>
                <small>Yêu cầu thực hiện thực hiện?</small>
            </div>
            <div class="project-stage-content">
                <div class="project-stage-content-header d-flex justify-content-between">
                    <span class="text-primary">4. Bài nộp</span>
                    <button class="ml-auto button-update btn btn-primary btn-circle btn-sm" title="Xem bài nộp" data-id="36">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
                <small>
                    Trạng thái: Đã nộp<br />
                    Thời gian nộp: 1/1/2021<br />
                    Điểm: Chưa chấm
                </small>
            </div>

            <div>
                <button data-id="" class="button-update-project-stage mb-2 btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-edit"></i>
                    </span>
                    <span class="text">Cập nhật thông tin giai đoạn</span>
                </button>
                <button data-id="" class="button-delete-project-stage mb-2 btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-trash"></i>
                    </span>
                    <span class="text">Xóa giai đoạn</span>
                </button>
            </div>
        </div>

        <div class="project-tool">
            <button id="btnAddProjectStage" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Thêm mới giai đoạn</span>
            </button>
        </div>
    </div>
</div>

<!-- Update Project Modal -->
<div class="modal" id="modalUpdateProject" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cập Nhật Thông Tin Đề Tài</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmAddProject">
                    <div class="mb-3">
                        <label class="form-label" for="txtName">Tên đề tài</label>
                        <input class="form-control" id="txtName" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Loại đề tài</label>
                        <select class="form-control" id="slTypeId">
                            <option value="1">Đồ án tốt nghiệp</option>
                            <option value="2">Khóa luận tốt nghiệp</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mã sinh viên</label>
                        <input class="form-control" id="txtStudentId" />
                        <div id="txtStudentName"></div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <label class="form-label">Ngày bắt đầu</label>
                                <input id="dtStartDate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            </div>
                            <div class="col">
                                <label class="form-label">Giờ </label>
                                <select id="slStartHour" class="form-control">
                                    @for (int i = 1; i <= 24; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                            <div class="col">
                                <label class="form-label">Phút </label>
                                <select id="slStartMinute" class="form-control">
                                    @for (int i = 1; i <= 60; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <label class="form-label">Ngày kết thúc</label>
                                <input id="dtEndDate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            </div>
                            <div class="col">
                                <label class="form-label">Giờ </label>
                                <select id="slEndHour" class="form-control">
                                    @for (int i = 1; i <= 24; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                            <div class="col">
                                <label class="form-label">Phút </label>
                                <select id="slEndMinute" class="form-control">
                                    @for (int i = 1; i <= 60; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Hủy</button>
                <button id="btnSaveProject" type="button" class="btn btn-primary"><i class="fas fa-check"></i> Hoàn thành</button>
            </div>
        </div>
    </div>
</div>

<!-- Update Project Stage Model -->
<div class="modal" id="modalUpdateProjectStage" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm Mới Giai Đoạn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmAddProject">
                    <input type="number" id="nbrProjectId" hidden />
                    <div class="mb-3">
                        <label class="form-label" for="txtName">Tên giai đoạn</label>
                        <input class="form-control" id="txtName" />
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <label class="form-label">Ngày bắt đầu</label>
                                <input id="dtStartDate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            </div>
                            <div class="col">
                                <label class="form-label">Giờ </label>
                                <select id="slStartHour" class="form-control">
                                    @for (int i = 1; i <= 24; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                            <div class="col">
                                <label class="form-label">Phút </label>
                                <select id="slStartMinute" class="form-control">
                                    @for (int i = 1; i <= 60; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <label class="form-label">Ngày kết thúc</label>
                                <input id="dtEndDate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            </div>
                            <div class="col">
                                <label class="form-label">Giờ </label>
                                <select id="slEndHour" class="form-control">
                                    @for (int i = 1; i <= 24; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                            <div class="col">
                                <label class="form-label">Phút </label>
                                <select id="slEndMinute" class="form-control">
                                    @for (int i = 1; i <= 60; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="txtName">Mục đích</label>
                        <input class="form-control" id="txtIntent" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="txtName">Yêu cầu</label>
                        <input class="form-control" id="txtRequest" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Hủy</button>
                <button id="btnSaveProjectStage" type="button" class="btn btn-primary"><i class="fas fa-check"></i> Hoàn thành</button>
            </div>
        </div>
    </div>
</div>
