@{
    ViewBag.Title = "TDMU - Chi tiết đề tài";
    Layout = "/Views/Shared/_Layout.cshtml";
    var user = (Model.EF.User)Session["USER_SESSION"];
}

@section Scripts {
    <script>
        var projectId = @ViewBag.Id;
    </script>
    @{
        <script>
            var lecturerId = @Html.Raw(user != null ? (user.GroupId > 1 ?("'" + user.Id + "'") : "''") : "''");
            var studentId = @Html.Raw(user != null ? (user.GroupId == 1 ?("'" + user.Id + "'") : "''") : "''");
        </script>
        <script src="~/Scripts/Client/Project/projectDetail.js"></script>
    }
}

<!-- Project Detail -->
<div id="projectDetail"></div>

<!-- Project Detail Item -->
<script id="projectDetailItem" type="x-tmpl-mustache">
    <div class="bg-primary p-3">
        <h2 class="text-white text-center">{{Name}}</h2>
        <p class="text-white text-center">Trang chủ / Đề tài / {{Name}}</p>
    </div>

    <div class="card project-card lead">
        <div>
            <div class="project-content">
                <div class="project-content-header">
                    <span class="text-primary">Thông tin đề tài</span>
                </div>
                <small>
                    Loại đề tài: {{Type}}<br />
                    Sinh viên thực hiện: {{StudentName}} ({{ClassId}})<br />
                    Giảng viên hướng dẫn: {{LecturerName}}<br />
                    Ngày tạo: {{CreatedDate}}<br />
                </small>
            </div>

            <div class="project-content">
                <div class="project-content-header d-flex justify-content-between">
                    <span class="text-primary">Hội đồng</span>
                    {{{AssemblyView}}}
                </div>
                <small>
                    {{{AssemblyName}}}
                    {{{AssemblyCreatedDate}}}
                </small>
            </div>

            <div class="project-content">
                <div class="project-content-header d-flex justify-content-between">
                    <span class="text-primary">Bài nộp</span>
                </div>
                <div id="submission" class="{{SubmissionView}}">
                    <small>
                        Trạng thái: {{SubmissionStatus}}<br />
                        Ngày bắt đầu: {{StartDate}}<br />
                        Hạn chót: {{EndDate}}<br />
                        Thời gian còn lại: {{LateSubmission}}<br />
                        {{{SubmissionDate}}}
                        {{Point}}
                    </small>
                    <div>
                        {{{SubmissionViewButton}}}
                        {{{SubmissionButton}}}
                        {{{UpdateSubmissionButton}}}
                        {{{DeleteSubmissionButton}}}
                        {{{InputPointButton}}}
                    </div>
                </div>

            </div>

            <!-- Project Button -->
            <div>
                {{{UpdateProjectButton}}}
                {{{DeleteProjectButton}}}
            </div>
        </div>

        <!-- Project Stage -->
        <div id="projectStage"></div>

        {{{AddProjectStageButton}}}
    </div>
</script>

<!-- Modal View Assembly -->
<div id="modalViewAssembly" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalViewAssemblyTitle">Thông Tin Hội Đồng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    Ngày thành lập: <span id="txtAssemblyCreatedDate"></span>
                </div>

                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã giảng viên</th>
                            <th>Tên giảng viên</th>
                            <th>Vai trò</th>
                            <th>Điểm</th>
                        </tr>
                    </thead>
                    <tbody id="assemblyData"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Assembly Item -->
<script id="assemblyItem" type="x-tmpl-mustache">
    <tr>
        <td>{{LecturerId}}</td>
        <td>{{LecturerName}}</td>
        <td>{{Permission}}</td>
        <td>{{Point}}</td>
    </tr>
</script>

<!-- Modal Input Point -->
<script id="modalInputPoint" type="x-tmpl-mustache">
    <div class="modal-body">
        <form id="frmInputPoint">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th width="150">Giảng viên</th>
                        <th class="lecturer-name-1"></th>
                        <th class="lecturer-name-2"></th>
                        <th class="lecturer-name-3"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Điểm</th>

                        <td>
                            <input type="number" id="nbrPoint1" name="nbrPoint1" class="form-control" />
                        </td>
                        <td>
                            <input type="number" id="nbrPoint2" name="nbrPoint2" class="form-control" />
                        </td>
                        <td>
                            <input type="number" id="nbrPoint3" name="nbrPoint3" class="form-control" />
                        </td>
                    </tr>
                </tbody>
                <tbody id="assemblyData"></tbody>
            </table>
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Hủy</button>
        <button id="btnSavePoint" type="button" class="btn btn-primary"><i class="fas fa-check"></i> Hoàn thành</button>
    </div>
</script>

<!-- Modal Comment Submission -->
<div id="modalCommnetSubmission" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalViewAssemblyTitle">Nhận Xét Giai Đoạn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="commentSubmission">
                
            </div>
        </div>
    </div>
</div>

<script id="commentSubmissionItem" type="x-tmpl-mustache">
    {{{ButtonUpdateCommentSubmission}}}
    {{{ButtonDeleteCommentSubmission}}}
    {{{CommentSubmission}}}
</script>

<!-- Modal Add / Update Comment submission -->
<script id="modalUpdateCommentSubmission" type="x-tmpl-mustache">
    <div class="modal-body">
        <form id="frmCommentSubmission">
            <input id="nbrProjectStageId" hidden />
            <label class="form-label">Nhận xét</label>
            <textarea id="txtComment" name="txtComment" class="form-control" rows="3"></textarea>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Hủy</button>
        <button id="btnSaveComment" type="button" class="btn btn-primary"><i class="fas fa-check"></i> Hoàn thành</button>
    </div>
</script>

<!-- Modal -->
<div id="modal" class="modal fade" tabindex="-2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Cập Nhật Thông Tin Đề Tài</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modalContent"></div>
        </div>
    </div>
</div>

<!-- Modal Update Project -->
<script id="modalUpdateProject" type="x-tmpl-mustache">
    <div class="modal-body">
        <form id="frmUpdateProject">
            <input id="nbrProjectId" value="0" hidden />
            <div class="mb-3">
                <label class="form-label" for="txtProjectName">Tên đề tài</label>
                <input class="form-control" id="txtProjectName" name="txtProjectName" />
            </div>
            <div class="mb-3">
                <label class="form-label">Loại đồ án</label>
                <select class="form-control" id="slProjectTypeId" name="slProjectTypeId">
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Sinh viên thực hiện</label>
                <input class="form-control" id="txtStudentId" name="txtStudentId" placeholder="Mã sinh viên" />
                <label id="txtStudentName" name="txtStudentName" class="valid" style="display: none">Không tìm thấy sinh viên!</label>
            </div>

            <div class="mb-3">
                <div class="row">
                    <div class="col">
                        <label class="form-label">Ngày bắt đầu</label>
                        <input id="dtProjectStartDate" name="dtProjectStartDate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </div>
                    <div class="col">
                        <label class="form-label">Giờ </label>
                        <select id="slProjectStartHour" name="slProjectStartHour" class="form-control">
                            @for (int i = 0; i <= 24; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label">Phút </label>
                        <select id="slProjectStartMinute" name="slProjectStartMinute" class="form-control">
                            @for (int i = 0; i <= 60; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                </div>

            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col">
                        <label class="form-label">Ngày kết thúc</label>
                        <input id="dtProjectEndDate" name="dtProjectEndDate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </div>
                    <div class="col">
                        <label class="form-label">Giờ </label>
                        <select id="slProjectEndHour" name="slProjectEndHour" class="form-control">
                            @for (int i = 0; i <= 24; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label">Phút </label>
                        <select id="slProjectEndMinute" name="slProjectEndMinute" class="form-control">
                            @for (int i = 0; i <= 60; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Hủy</button>
        <button id="btnSaveProject" type="button" class="btn btn-primary"><i class="fas fa-check"></i> Hoàn thành</button>
    </div>
</script>

<!-- Modal Update Project Submission -->
<script id="modalUpdateProjectSubmission" type="x-tmpl-mustache">
    <div class="modal-body">
        <form id="frmUpdateProjectSubmission">
            <input id="nbrId" value="0" hidden />
            <div class="mb-3">
                <label class="form-label">Bài nộp</label>
                <input class="form-control" id="txtSubmission" name="txtSubmission" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Hủy</button>
        <button id="btnSaveProjectSubmission" type="button" class="btn btn-primary"><i class="fas fa-check"></i> Hoàn thành</button>
    </div>
</script>

<!-- Modal Update Project Stage Submission -->
<script id="modalUpdateProjectStageSubmission" type="x-tmpl-mustache">
    <div class="modal-body">
        <form id="frmUpdateProjectSubmission">
            <input id="nbrId" value="0" hidden />
            <div class="mb-3">
                <label class="form-label">Bài nộp</label>
                <input class="form-control" id="txtSubmission" name="txtSubmission" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Hủy</button>
        <button id="btnSaveProjectStageSubmission" type="button" class="btn btn-primary"><i class="fas fa-check"></i> Hoàn thành</button>
    </div>
</script>

<!-- Modal Add / Update Project Stage -->
<script id="modalUpdateProjectStage" type="x-tmpl-mustache">
    <div class="modal-body">
        <form id="frmUpdateProjectStage">
            <input id="nbrProjectStageId" type="number" hidden />
            <div class="mb-3">
                <label class="form-label">Tên giai đoạn</label>
                <input class="form-control" id="txtProjectStageName" name="txtProjectStageName" />
            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col">
                        <label class="form-label">Ngày bắt đầu</label>
                        <input id="dtProjectStageStartDate" name="dtProjectStageStartDate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </div>
                    <div class="col">
                        <label class="form-label">Giờ </label>
                        <select id="slProjectStageStartHour" name="slProjectStageStartHour" class="form-control">
                            @for (int i = 0; i < 24; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label">Phút </label>
                        <select id="slProjectStageStartMinute" name="slProjectStageStartMinute" class="form-control">
                            @for (int i = 0; i < 60; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                </div>

            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col">
                        <label class="form-label">Ngày kết thúc</label>
                        <input id="dtProjectStageEndDate" name="dtProjectStageEndDate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </div>
                    <div class="col">
                        <label class="form-label">Giờ </label>
                        <select id="slProjectStageEndHour" name="slProjectStageEndHour" class="form-control">
                            @for (int i = 0; i < 24; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label">Phút </label>
                        <select id="slProjectStageEndMinute" name="slProjectStageEndMinute" class="form-control">
                            @for (int i = 0; i < 60; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                </div>

            </div>
            <div class="mb-3">
                <label class="form-label">Mục đích</label>
                <textarea class="form-control" id="txtIntent" name="txtIntent"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Yêu cầu</label>
                <textarea class="form-control" id="txtRequest" name="txtRequest"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Hủy</button>
        <button id="btnSaveProjectStage" type="button" class="btn btn-primary"><i class="fas fa-check"></i> Hoàn thành</button>
    </div>
</script>

<!-- Project Stage Item -->
<script id="projectStageItem" type="x-tmpl-mustache">
    <div class="project-stage">
        <div class="project-stage-header">
            <h4 class="text-primary">{{Name}}</h4>
        </div>
        <div class="project-stage-content">
            <div class="project-stage-content-header">
                <span class="text-primary">1. Mục đích</span>
            </div>
            <small>
                {{{Intent}}}
            </small>
        </div>
        <div class="project-stage-content">
            <div class="project-stage-content-header">
                <span class="text-primary">2. Yêu cầu</span>
            </div>
            <small>{{{Request}}}</small>
        </div>
        <div class="project-stage-content">
            <div class="project-stage-content-header">
                <span class="text-primary">3. Bài nộp</span>
            </div>
            <div id="submission" class="{{SubmissionView}}">
                <small>
                    Trạng thái: {{SubmissionStatus}}<br />
                    Ngày bắt đầu: {{StartDate}}<br />
                    Hạn chót: {{EndDate}}<br />
                    Thời gian còn lại: {{LateSubmission}}<br />
                    {{{SubmissionDate}}}
                </small>
                <div>
                    {{{SubmissionViewButton}}}
                    {{{SubmissionButton}}}
                    {{{UpdateSubmissionButton}}}
                    {{{DeleteSubmissionButton}}}
                    {{{SubmissionCommentButton}}}
                </div>
            </div>
        </div>

        <!-- Project Stage Button -->
        <div>
            {{{UpdateProjectStageButton}}}
            {{{DeleteProjectStageButton}}}
        </div>
    </div>
</script>