@{
    ViewBag.Title = "TDMU - Đề tài của tôi";
    Layout = "/Views/Shared/_Layout.cshtml";
    var user = (Model.EF.User)Session["USER_SESSION"];
}
@section Scripts {
    @if (user != null)
    {

        <script>
            var lecturerId = @Html.Raw("'" + user.Id + "'");
            var branchId = @Html.Raw("'" + user.BranchId + "'");
        </script>
        <script src="~/Scripts/Client/Project/project.js"></script>
    }
}

@if (user.GroupId > 1)
{
    <div class="card m-3 px-2 pb-2 pt-1">

        <div class="table-responsive">
            <!-- Project Header -->
            <div class="d-flex justify-content-between mb-2">
                <span class="lead">
                    Đề tài phụ trách
                </span>
                <button id="btnAddProject" class="ml-auto btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Thêm mới</span>
                </button>
            </div>

            <!-- Project Content -->
            <div>
                <div id="projectFilter"></div>
                <table class="table table-bordered" id="tblProject" width="100%" cellspacing="0"></table>
                <div id="pagination" class="pagination"></div>
                <button id="btnExportExcel" class="btn btn-primary mb-3 btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-download"></i>
                    </span>
                    <span class="text">Xuất ra Excel</span>
                </button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="modal" class="modal fade" tabindex="-2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Cập Nhật Thông Tin Đề Tài</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modalContent"></div>
            </div>
        </div>
    </div>

    <!-- Modal Add / Update Project -->
    <script id="modalUpdateProject" type="x-tmpl-mustache">
        <div class="modal-body">
            <form id="frmUpdateProject">
                <input id="nbrProjectId" value="0" hidden />
                <div class="mb-3">
                    <label class="form-label" for="txtProjectName">Tên đề tài</label>
                    <input class="form-control" id="txtProjectName" name="txtProjectName" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Loại đồ án</label>
                    <select class="form-control" id="slProjectTypeId" name="slProjectTypeId">
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Sinh viên thực hiện</label>
                    <input class="form-control" id="txtStudentId" name="txtStudentId" placeholder="Mã sinh viên" />
                    <label id="txtStudentName" name="txtStudentName" class="valid" style="display: none">Không tìm thấy sinh viên!</label>
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            <label class="form-label">Ngày bắt đầu</label>
                            <input id="dtProjectStartDate" name="dtProjectStartDate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        </div>
                        <div class="col">
                            <label class="form-label">Giờ </label>
                            <select id="slProjectStartHour" name="slProjectStartHour" class="form-control">
                                @for (int i = 0; i <= 24; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                        <div class="col">
                            <label class="form-label">Phút </label>
                            <select id="slProjectStartMinute" name="slProjectStartMinute" class="form-control">
                                @for (int i = 0; i <= 60; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>

                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            <label class="form-label">Ngày kết thúc</label>
                            <input id="dtProjectEndDate" name="dtProjectEndDate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        </div>
                        <div class="col">
                            <label class="form-label">Giờ </label>
                            <select id="slProjectEndHour" name="slProjectEndHour" class="form-control">
                                @for (int i = 0; i <= 24; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                        <div class="col">
                            <label class="form-label">Phút </label>
                            <select id="slProjectEndMinute" name="slProjectEndMinute" class="form-control">
                                @for (int i = 0; i <= 60; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Hủy</button>
            <button id="btnSaveProject" type="button" class="btn btn-primary"><i class="fas fa-check"></i> Hoàn thành</button>
        </div>
    </script>

    <!-- Project filter-->
    <script id="projectFilterContent" type="x-tmpl-mustache">
        <div class="row row-cols-lg-auto g-3 mb-3 me-0" width="100%">
            <div class="col-12">
                <input id="txtNameSearch" type="text" class="form-control" placeholder="Tên đồ án">
            </div>
            <div class="col-12">
                <input id="txtStudentSearch" type="text" class="form-control" placeholder="Tên / Mã số sinh viên">
            </div>
            <div class="col-12">
                <select id="slProjectTypeIdSearch" class="form-control"></select>
            </div>
            <div class="col-12">
                <select id="slYearSearch" class="form-control">
                    <option>-- Chọn năm học --</option>
                    @for (int i = 2013; i <= DateTime.Now.Year; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
            <div class="col-12">
                <select id="slClassIdSearch" class="form-control"></select>
            </div>
            <div class="col-12">
                <button id="btnSearch" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-search"></i>
                    </span>
                    <span class="text">Tìm kiếm</span>
                </button>
            </div>
            <div id="btnReset" class="col-12">
                <button class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-sync"></i>
                    </span>
                    <span class="text">Làm mới</span>
                </button>
            </div>
        </div>
    </script>

    <!-- Project Header -->
    <script id="tblProjectHeader" type="x-tmpl-mustache">
        <thead>
            <tr align="center">
                <th>Id</th>
                <th>Thông tin</th>
                <th>Sinh viên thực hiện</th>
                <th width="150">Công cụ</th>
            </tr>
        </thead>
    </script>

    <!-- Project item -->
    <script id="projectItem" type="x-tmpl-mustache">
        <tr>
            <td align="center">{{Id}}</td>
            <td>
                Tên đề tài: {{Name}}<br />
                Loại đề tài: {{TypeName}}<br />
                Thời gian bắt đầu: {{StartDate}}<br />
                Thời gian kết thúc: {{EndDate}}<br />
                Điểm: {{Point}}
            </td>
            <td>
                Mã số sinh viên: {{StudentId}}<br />
                Họ tên: {{StudentName}}<br />
                Lớp: {{ClassId}}
            </td>
            <td align="center">
                <a href="/Project/Detail/{{Id}}" class="btn btn-primary btn-circle btn-sm" title="Cập nhật" data-id="{{Id}}">
                    <i class="fas fa-eye"></i>
                </a>
                <button class="button-update-project btn btn-primary btn-circle btn-sm" title="Cập nhật" data-id="{{Id}}">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="button-delete-project btn btn-danger btn-circle btn-sm" title="Xóa" data-id="{{Id}}">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
    </script>
} else
{
    <div class="m-5 alert alert-danger">Bạn chưa đăng ký đề tài. Vui lòng liên hệ với giảng viên hướng dẫn hoặc thư ký ngành để tiến hành đăng ký đề tài</div>
}