@{ 
    var user = (Model.EF.User)Session["USER_SESSION"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>

    <!-- Icon Title -->
    <link rel="icon" href="~/Images/tdmu-logo.png" type="image/x-icon">
    <!-- CSS -->
    <link href="~/Plugins/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/Plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/Css/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

</head>

<body class="body bg-light">
    <div style="padding-top: 4.2rem"></div>
    <nav class="fixed-top navbar navbar-expand-lg navbar-light bg-white mt-0 shadow">
        <div class="container-fluid px-3">
            <a href="/" class="navbar-brand aabtn d-none d-sm-inline me-auto ms-2">
                <span class="site-name d-none d-md-inline">
                    <img class="ml-3" width="40" height="40" title="Logo" src="~/Images/tdmu-logo.png" />
                    <span class="lead">ĐH Thủ Dầu Một</span>
                </span>
            </a>
            <div class="dropdown ms-auto">
                <button type="button" class="btn rounded-pill p-1 ms-auto" style="background: #E7F3FF" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="rounded-circle" width="30" height="30" src="@user.Avatar" />
                    <span class="text-primary d-none d-sm-inline fw-bold ps-1 pe-2">@(user.FullName)</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end mt-2">
                    <li>
                        <a class="dropdown-item" href="/Project/My">
                            <i class="fas fa-home fa-sm fa-fw me-2 text-gray-400"></i>
                            @((user.GroupId == 1) ? Html.Raw("Đề tài của tôi") : Html.Raw("Nhà của tôi"))
                        </a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>
                            Hồ sơ
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-cog fa-sm fa-fw me-2 text-gray-400"></i>
                            Cài đặt
                        </a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                        <a id="btnLogout" class="dropdown-item" href="#">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>
                            Đăng xuất
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Body Content -->
    @RenderBody()
    <div class="bg-primary p-3 text-center text-white mt-auto">
        Designed by Hung ITM
    </div>
    <!-- Scripts -->
    <script src="~/Plugins/bootbox/bootbox.all.min.js"></script>
    <script src="~/Scripts/mustache.min.js"></script>
    <script src="~/Scripts/pagination.min.js"></script>
    <script src="~/Plugins/ckeditor/ckeditor.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
        $('#btnLogout').off('click').on('click', function (e) {
            e.preventDefault();

            bootbox.confirm({
                title: 'Đăng Xuất',
                message: "Đăng xuất khỏi hệ thống?",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Huỷ'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Đồng ý'
                    }
                },
                callback: function (result) {
                    if (result) {
                        logout();
                    }
                }
            });
        });

        function logout() {
            $.ajax({
                url: '/API/User/Logout',
                type: 'POST',
                dataType: 'JSON',
                success: function (res) {
                    if (res.status) {
                        bootbox.alert({ message: 'Đăng xuất thành công!' });
                        setTimeout(function () { location = '/' }, 800);
                    } else if (res.status == 1) {
                        bootbox.alert({ message: 'Bạn chưa đăng nhập!' });
                    } else {
                        bootbox.alert({ message: 'Đăng xuất không thành công!' });
                    }
                },
                error: function () {
                    bootbox.alert({ message: 'Đăng xuất không thành công!' });
                }
            })
        }
    </script>

</body>
</html>